extend ../_includes/_layout.pug
block vars
  include ../_includes/_config
  - var noindex= "true";
  - var colmun= "single";
  - var root= "../";
  - var parentDir= "";
  //- - var status= "";
  - var key= "entry";
  - var pageUrl= "entry-input.html";
  - var pageTitle = "アートメイク講習申込み"
  - var pageDescription = ""
  - var pageKeywords = ""
  //- - var page = pages[key];
  //- - var pageCategory= "";
  - var bodyClass= "";
//- /////////////////////
append css
  link(rel="stylesheet", href=root+cssPath+"form.css")

append js
  script(type="application/ld+json").
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "#{siteUrl}",
          "name": "#{siteName}"
        }
      },
      {
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": "#{siteUrl}#{pageUrl}",
          "name": "#{pageTitle}"
        }
      }]
    }
//- /////////////////////
block breadcrumb
  nav.breadcrumb
    ol(itemscope itemtype="http://schema.org/BreadcrumbList")
      li.top(itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem")
        a(itemprop="item" href=root+""): span(itemprop="name") トップページ
        meta(itemprop="position" content="1")
      li(itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem")
        a(itemprop="item" href=root+pageUrl): span(itemprop="name") #{pageTitle}
        meta(itemprop="position" content="2")
//- /////////////////////
//- /////////////////////
//- /////////////////////
block main
  article.page
    //- .page-head
      h1.page-ttl #{pageTitle}#[br]#[span.page-subttl #{key}]
      //- p.page-intro 下記の内容でお間違いない事をご確認の上『この内容で送信する』ボタンより、ご予約内容を送信してください。
    .page-body
      .finish
        figure.finish-img #[img.telContact-img(src=root+imgPath+"common/ico-check3.svg" loading="lazy" alt="")]
        h1.finish-ttl アートメイク講習のお申込みを#[br]受け付けました
        p.finish-txt.center この度は、アートメイク講習のお申込みをいただき誠にありがとうございます。#[br]#[span.red ※現在は＜仮予約＞の状態となります※]#[br]
        //- p.finish-txt 講習の詳細をご案内するため、予約専用窓口(03-5766-6262)より直接お電話させていただいております。#[br]#[br]お電話にて内容確認のうえ、お申し込み確定となります。#[br]予めご了承いただけますと幸いです。#[br]#[br]しばらくしても連絡が届かない場合は、お電話にてご連絡ください。
        p.finish-txt 講習の詳細をご案内するため、担当者よりご連絡させていただいております。#[br]#[br]詳細の確認と同意いただいたのちに、お申し込み確定となります。#[br]混雑状況などにより、返信までお時間を要する場合があります。予めご了承ください。

        //- .telContact
          .telContact-catch G.Academy運営事務局
          a.telContact-phoneNum(href="tel:03-5766-6262") #[img.telContact-img(src=root+imgPath+"common/ico-phone1.svg" loading="lazy" alt="")] 03-5766-6262
          .telContact-note ※受付時間 土日祝日を除く平日のみ10-19時

        .btn-wrap: a.btn-accent(href=root+"") トップページへ
