extend ../_includes/_layout.pug
block vars
  include ../_includes/_config
  - var noindex= "true";
  - var colmun= "single";
  - var root= "../";
  - var parentDir= "";
  //- - var status= "";
  - var key= "entry";
  - var pageUrl= "entry-input.html";
  - var pageTitle = "アートメイク講習申込み"
  - var pageDescription = ""
  - var pageKeywords = ""
  //- - var page = pages[key];
  //- - var pageCategory= "";
  - var bodyClass= "";
//- /////////////////////
append css
  link(rel="stylesheet", href=root+cssPath+"form.css")
  link(rel="stylesheet" href=root+cssPath+"pignose.calendar.min.css")
append js
  script(type="application/ld+json").
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "#{siteUrl}",
          "name": "#{siteName}"
        }
      },
      {
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": "#{siteUrl}#{pageUrl}",
          "name": "#{pageTitle}"
        }
      }]
    }
  script.
    $(function(){
      $(".js-accordion dt").on("click", function() {
        $(this).toggleClass("is-open");
        $(this).next().slideToggle();
        return false;
      });
    });
  script(src=root+jsPath+"pignose.calendar.full.min.js")
  script.
    $(function() {
      $('.js-calendar').pignoseCalendar({
        lang:'jp'
      });
    });
//- /////////////////////
block breadcrumb
  nav.breadcrumb
    ol(itemscope itemtype="http://schema.org/BreadcrumbList")
      li.top(itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem")
        a(itemprop="item" href=root+""): span(itemprop="name") トップページ
        meta(itemprop="position" content="1")
      li(itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem")
        a(itemprop="item" href=root+pageUrl): span(itemprop="name") #{pageTitle}
        meta(itemprop="position" content="2")
//- /////////////////////
//- /////////////////////
//- /////////////////////
block main
  article.page
    .page-head
      h1.page-ttl #{pageTitle}#[br]#[span.page-subttl #{key}]
      p.page-intro 下記フォームより必要事項を入力してください。
      //- p.page-intro カウンセリングは無料ですのでお気軽にご相談ください。また、下記にあるお問い合わせに関するご注意事項をご確認の上、お問い合わせください。

    .page-body
      //- dl.caution.js-accordion
        dt.caution-head お子様連れでのご来院について
        dd.caution-body
          p 当院では、原則としてお子様連れでのご来院を ご遠慮いただいております。
          p また、お子様ベビーカーなどの持ち込みは歩行の妨げとなることがありますので、 転倒など事故防止のためお控え頂くようご協力をお願い致します。

      nav.stepNav
        ol.stepNav-inner
          li.stepNav-item.is-active #[span.stepNav-num 01] #[span.stepNav-label 入力]
          li.stepNav-item #[span.stepNav-num 02] #[span.stepNav-label 確認]
          li.stepNav-item #[span.stepNav-num 03] #[span.stepNav-label 完了]
        .stepNav-progress

      .entry
        p.entry-txt (※)は必ずご記入ください。


        .form-wrap
          form.form(id="form" action=root+"entry/finish.html" method="post")
            //- h3.form-page-head お客様情報
            .form-item
              .form-ttl.is-required お申し込み講習
              .form-body
                .form-select
                  select(id="course" name="course")
                    option(value="" selected) 選択してください
                    - var list = ['【12月5日 東京】Delicate blow コース']
                      each item in list
                        option(value="item") #{item}
            .form-item
              .form-ttl.is-required(for="name") お名前
              .form-body
                input(type="text" id="name" name="name" placeholder="例：佐藤 花子" required)

            .form-item
              .form-ttl.is-required(for="name-en") お名前（ローマ字）
              .form-body
                input(type="text" id="name-en" name="name-en" placeholder="例：Hanako Sato" required)

            .form-item
              .form-ttl.is-required(for="zip") 郵便番号
              .form-body.zip
                input(type="text" id="zip" name="zip" autocomplete="zip" placeholder="150-0002" required)
                //- p.form-notes ※ハイフンなし
            .form-item
              .form-ttl.is-required(for="address") 住所
              .form-body
                input(type="text" id="address" name="address" autocomplete="address" placeholder="例：東京都渋谷区渋谷2-19-19" required)

            //- .form-item
              .form-ttl.is-required(for="tel") 電話番号
              .form-body.tel
                input(type="tel" id="tel1" name="tel1" maxlength="4" required)
                span.form-span ー
                input(type="tel" id="tel2" name="tel2" maxlength="4" required)
                span.form-span ー
                input(type="tel" id="tel3" name="tel3" maxlength="4" required)
            .form-item
              .form-ttl.is-required(for="email") メールアドレス
              .form-body
                input(type="email" id="email" name="email" autocomplete="email" placeholder="例：example@domain.jp" required)


            .form-item
              .form-ttl.is-required(for="clinic") 勤務先クリニック情報
              .form-body
                input(type="text" id="clinic" name="clinic" placeholder="" required)

            .form-item
              .form-ttl.is-required 就職先の紹介
              .form-body
                .form-select
                  select(id="work" name="work")
                    option(value="" selected) 選択してください
                    - var list = ['希望する', '希望しない']
                      each item in list
                        option(value="item") #{item}

            .form-item
              .form-ttl.is-required お支払い方法
              .form-body
                .form-select
                  select(id="payment" name="payment")
                    option(value="" selected) 選択してください
                    - var list = ['銀行振込', 'クレジットカード払い']
                      each item in list
                        option(value="item") #{item}

            //- .form-item
              .form-ttl.is-required(for="age") 年齢
              .form-body.age
                input(type="text" id="age" name="age" required)
                span.form-span 歳

            //- .form-item.doui
              .form-ttl 未成年者様の親権者同意書
              .form-body
                p 未成年（16歳以上20歳未満）の方は、保護者の方と一緒にご来院いただくか、こちらの「親権者同意書」を印刷してご記入いただいたものをお持ちいただくと、カウンセリングの際にご契約が可能です。
                a.link-inline(href=imgPath + "consent.pdf" target="_blank") #[i.far.fa-file-pdf] 親権者同意書を印刷

            //- .form-item
              .form-ttl.is-required(for="friend") ご紹介者様
              .form-body
                input(type="text" id="friend" name="friend" placeholder="" required)
              p.form-notes ※Instagramアカウント名でも可


            //- .form-item
              .form-ttl 来院理由
              .form-body
                .form-select
                  select(id="reason" name="reason")
                    option(value="" selected) 選択してください
                    - var list = ['アクセスしやすい', '料金がリーズナブル', '予約が取りやすい', 'マシンが高品質だから', '雰囲気が良い']
                      each item in list
                        option(value="item") #{item}

            //- .form-item
              .form-ttl.is-required(for="comment") お悩みの内容
              .form-body
                textarea(id="comment" name="comment" placeholder="お悩みの症状などを具体的にお知らせください。" required)



            //- h3.form-page-head 予約内容
            //- .form-item
              .form-ttl(for="clinic") 店舗選択
              .form-body
                .form-select
                  select(id="clinic" name="clinic")
                    option(value="" selected) 選択してください
                    - var list = ['渋谷院', '新宿院', '名古屋院', '大阪院']
                      each item in list
                        option(value="item") #{item}
              p.form-notes ※提携院(新宿・大阪・名古屋)は、提携院の規定に寄るためサイト記載内容と異なることがございます。

            //- .form-item
              .form-ttl.is-required 来院日時選択
              .form-body.calendar
                .js-calendar

                .form-ttl 時間を選択してください
                ul.time-pick
                  li
                    input(type="radio" id="time1100" name="hoge" value="1100" disabled)
                    label.label(for="time1100") 11:00〜
                  li
                    input(type="radio" id="time1130" name="hoge" value="1130" checked)
                    label.label(for="time1130") 11:30〜
                  li
                    input.is-few(type="radio" id="time1200" name="hoge" value="1200")
                    label.label(for="time1200") 12:00〜
                  li
                    input(type="radio" id="time1230" name="hoge" value="1230")
                    label.label(for="time1230") 12:30〜
                  li
                    input(type="radio" id="time1300" name="hoge" value="1300")
                    label.label(for="time1300") 13:00〜
                  li
                    input(type="radio" id="time1330" name="hoge" value="1330")
                    label.label(for="time1330") 13:30〜
                  li
                    input(type="radio" id="time1400" name="hoge" value="1400")
                    label.label(for="time1400") 14:00〜
                  li
                    input(type="radio" id="time1430" name="hoge" value="1430")
                    label.label(for="time1430") 14:30〜
                  li
                    input(type="radio" id="time1500" name="hoge" value="1500")
                    label.label(for="time1500") 15:00〜
                  li
                    input(type="radio" id="time1530" name="hoge" value="1530")
                    label.label(for="time1530") 15:30〜
                  li
                    input(type="radio" id="time1600" name="hoge" value="1600")
                    label.label(for="time1600") 16:00〜
                  li
                    input(type="radio" id="time1630" name="hoge" value="1630")
                    label.label(for="time1630") 16:30〜
                  li
                    input(type="radio" id="time1700" name="hoge" value="1700")
                    label.label(for="time1700") 17:00〜
                  li
                    input(type="radio" id="time1730" name="hoge" value="1730")
                    label.label(for="time1730") 17:30〜
                  li
                    input(type="radio" id="time1800" name="hoge" value="1800")
                    label.label(for="time1800") 18:00〜
                  li
                    input(type="radio" id="time1830" name="hoge" value="1830")
                    label.label(for="time1830") 18:30〜
                  li
                    input(type="radio" id="time1900" name="hoge" value="1900")
                    label.label(for="time1900") 19:00〜


            .form-item
              //- p.form-caution お問い合わせが大変混みあっておりますため、ご連絡までお時間がかかることがございます。予めご了承を頂けますと幸いです。

              .btn-wrap #[button.btn-accent(type="submit" id="submit" form="form") 次へ]



      //- .telContact
        .telContact-catch G.Academy運営事務局
        a.telContact-phoneNum(href="tel:03-5766-6262") #[img.telContact-img(src=root+imgPath+"common/ico-phone1.svg" loading="lazy" alt="")] 03-5766-6262
        .telContact-note ※受付時間 土日祝日を除く平日のみ10-19時