extend ../_includes/_layout.pug
block vars
  include ../_includes/_config
  - var noindex= "true";
  - var colmun= "single";
  - var root= "../";
  - var parentDir= "";
  //- - var status= "";
  - var key= "entry";
  - var pageUrl= "entry-input.html";
  - var pageTitle = "アートメイク講習申込み"
  - var pageDescription = ""
  - var pageKeywords = ""
  //- - var page = pages[key];
  //- - var pageCategory= "";
  - var bodyClass= "";
//- /////////////////////
append css
  link(rel="stylesheet", href=root+cssPath+"form.css")

append js
  script(type="application/ld+json").
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "#{siteUrl}",
          "name": "#{siteName}"
        }
      },
      {
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": "#{siteUrl}#{pageUrl}",
          "name": "#{pageTitle}"
        }
      }]
    }
//- /////////////////////
block breadcrumb
  nav.breadcrumb
    ol(itemscope itemtype="http://schema.org/BreadcrumbList")
      li.top(itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem")
        a(itemprop="item" href=root+""): span(itemprop="name") トップページ
        meta(itemprop="position" content="1")
      li(itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem")
        a(itemprop="item" href=root+pageUrl): span(itemprop="name") #{pageTitle}
        meta(itemprop="position" content="2")
//- /////////////////////
//- /////////////////////
//- /////////////////////
block main
  article.page
    .page-head
      h1.page-ttl #{pageTitle}#[br]#[span.page-subttl #{key}]
      p.page-intro 下記の内容でお間違いない事をご確認の上『この内容で送信する』ボタンより、ご予約内容を送信してください。


    .page-body
      nav.stepNav
        ol.stepNav-inner
          li.stepNav-item.is-active #[span.stepNav-num 01] #[span.stepNav-label 入力]
          li.stepNav-item.is-active #[span.stepNav-num 02] #[span.stepNav-label 確認]
          li.stepNav-item #[span.stepNav-num 03] #[span.stepNav-label 完了]
        .stepNav-progress.step2
      .entry
        //- h2.entry-ttl ご予約内容

        .form-wrap
          form.form(id="form" action=root+"entry/finish.html" method="post")
            //- h3.form-page-head お客様情報
            .form-item
              .form-ttl(for="course") お申し込み講習
              .form-body
                input(type="text" id="course" name="course" value="【12月5日 東京】Delicate blow コース" readonly)

            .form-item
              .form-ttl(for="name") お名前
              .form-body
                input(type="text" id="name" name="name" value="佐藤 花子" readonly)

            .form-item
              .form-ttl(for="name-en") お名前（ローマ字）
              .form-body
                input(type="text" id="name-en" name="name-en" value="Hanako Sato" readonly)

            //- .form-item
              .form-ttl(for="tel") 電話番号
              .form-body
                input(type="tel" id="tel" name="tel" value="000-0000-0000" readonly)

            .form-item
              .form-ttl(for="zip") 郵便番号
              .form-body
                input(type="text" id="zip" name="zip" value="150-0002" readonly)

            .form-item
              .form-ttl(for="address") 住所
              .form-body
                input(type="text" id="address" name="address" value="東京都渋谷区渋谷2-19-19" readonly)


            .form-item
              .form-ttl(for="email") メールアドレス
              .form-body
                input(type="email" id="email" name="email" value="example@domain.jp" readonly)


            .form-item
              .form-ttl.is-required(for="clinic") 勤務先クリニック情報
              .form-body
                input(type="text" id="clinic" name="clinic" value="●●クリニック" readonly)
            .form-item
              .form-ttl.is-required(for="work") 就職先の紹介
              .form-body
                input(type="text" id="work" name="work" value="希望する" readonly)
            .form-item
              .form-ttl.is-required(for="payment") お支払い方法
              .form-body
                input(type="text" id="payment" name="payment" value="クレジットカード" readonly)


            .form-item
              .btn-wrap
                button.btn-accent(type="submit" id="submit" form="form") 上記で申し込む
                button.btn-disable(type="button" onclick="history.back()") 戻る