head(prefix='og: http://ogp.me/ns#')
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width,initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  //- noindex条件分岐
  if index==='false'
    meta(name="robots" content="noindex,nofollow,noarchive")
  else
    meta(name='robots' content='index,follow')

  //- タイトル、ディスクリプション、キーワード条件分岐
  unless pageTitle
    title #{siteTitle}
  else
    title #{pageTitle}｜#{siteName}
  unless pageDescription
    meta(name='description' content=siteDescription)
  else
    meta(name='description' content=pageDescription)
  unless pageKeywords
    meta(name='keywords' content=siteKeywords)
  else
    meta(name='keywords' content=pageKeywords)
  meta(name="format-detection" content="telephone=no")

  //- link(rel='shortcut icon' href=siteUrl+'favicon.ico' type='image/x-icon')
  link(rel="icon" href=root+imgPash+"common/favicon.svg" type="image/svg+xml")
  
  if ogp==='true'
    // OGP
    unless pageOgTitle
      meta(property='og:title' content=siteOgTitle)
    else
      meta(property='og:title' content=pageOgTitle)
    meta(property='og:type' content='article')
    unless pageOgImage
      meta(property='og:image' content=siteOgImage)
    else
      meta(property='og:image' content=pageOgImage)
    unless pageOgUrl
      meta(property='og:url' content=siteOgUrl)
    else
      meta(property='og:url' content=pageOgUrl)
    unless pageOgDescription
      meta(property='og:description' content=siteOgDescription)
    else
      meta(property='og:description' content=pageOgDescription)
    meta(property='og:site_name' content=siteTitle)
    meta(property='og:locale' content='ja')
    meta(name='twitter:card' content='summary')
    unless pageOgTitle
      meta(name='twitter:title' content=siteOgTitle)
    else
      meta(name='twitter:title' content=pageOgTitle)
    unless pageOgDescription
      meta(name='twitter:description' content=siteOgDescription)
    else
      meta(name='twitter:description' content=pageOgDescription)
    unless pageOgUrl
      meta(name='twitter:url' content=siteOgUrl)
    else
      meta(name='twitter:url' content=pageOgUrl)
    unless pageOgImage
      meta(name='twitter:image:src' content=siteOgImage)
    else
      meta(name='twitter:image:src' content=pageOgImage)
  else
  meta(name='robots' content='max-image-preview:large')

  // CSS
  block css
    //- link(href='https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,300i,400,400i,500,500i,700|Roboto:300,300i,400,400i,500,500i,700&display=swap&subset=japanese' rel='stylesheet')
    if fontawesome==='true'
      link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.15.4/css/all.css?ver=1.0.0')
    if slick==='true'
      link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css?ver=1.0.0')
      link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css?ver=1.0.0')
    if swiper==='true'
      link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.0.7/swiper-bundle.css?ver=1.0.0')
    if magnificpopup==='true'
      link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css?ver=1.0.0")

    link(rel='stylesheet' href=root+cssPath+'main.css?ver=1.0.0' type='text/css' media='all')
