meta(charset="UTF-8")
if noindex==='true'
  meta(name="robots" content="noindex,nofollow,noarchive")
else
meta(name="viewport" content="width=device-width,initial-scale=1,user-scalable=no")
//- meta(name="format-detection" content="email=no,telephone=no,address=no")

if pageTitle
  title #{pageTitle} | #{siteName}
else
  title #{siteName}

meta(name="description" content=pageDescription)
meta(name="keywords" content=pageKeywords)
//- link(rel="shortcut icon", href=root+"favicon.ico" type="image/x-icon")
link(rel="icon", href=root+"favicon.svg" type="image/svg+xml")

if ogpState==='true'
  // OGP
  if pageTitle
    meta(property="og:title" content=pageTitle + ' | ' + siteName)
  else
    meta(property="og:title" content=siteName)

  meta(property="og:type" content="website")
  //- meta(property="og:type" content="article")
  meta(property="og:image" content=ogpImage)
  meta(property="og:url" content=siteUrl)
  meta(property="og:description" content=pageDescription)
  meta(property="og:site_name" content=siteName)
  meta(property="og:locale" content="ja")
else
if twCardState==='true'
  // Twitter Card
  meta(name="twitter:card" content="summary")
  meta(name="twitter:site" content=twitterAccount)
  if pageTitle
    meta(property="og:title" content=pageTitle + ' | ' + siteName)
  else
    meta(name="twitter:title" content=siteName)
  meta(name="twitter:description" content=pageDescription)
  meta(name="twitter:url" content=siteUrl)
  meta(name="twitter:image:src" content=ogpImage)
else


block css
  //- link(href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet")
  //- link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  link(href= root+cssPath+"common.css" rel="stylesheet")


if googleAnalyticsState === 'true'
  .
    <script async src="https://www.googletagmanager.com/gtag/js?id=#{googleAnalyticsId}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '#{googleAnalyticsId}');
    </script>
