extend ./_includes/_layout.pug
block vars
  include ./_includes/_config
  - var noindex= "false";
  - var colmun= "single";
  - var root= "./";
  - var parentDir= "";
  - var parentTitle= "";
  //- - var status= "";
  - var key= "welcome";
  - var pageUrl= "";
  - var pageTitle = ""
  - var pageDescription = ""
  - var pageKeywords = ""
  //- - var page = pages[key];
  //- - var pageCategory= "";
  - var bodyClass= "";
  
//- /////////////////////
append css
  link(rel="stylesheet", href=root+cssPath+"frontpage.css")
  //- link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
  //- link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css")
append js
  //- script(type="application/ld+json").
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "#{siteUrl}",
          "name": "#{siteName}"
        }
      }]
    }

  //- script(src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js")
  //- script.
    $(function () {
      $('.js-slick').slick({
        infinite: true,
        //- autoplay: true,
        centerMode: true,
        variableWidth :true,
        slidesToShow:1,
        //- autoplaySpeed: 4000,
        arrows: true,
        dots: true,
        responsive: [{
          breakpoint: 670,
          settings: {
            centerMode: false,
            variableWidth :false,
            }
        }]
      });
    });

//- /////////////////////
//- block breadcrumb

//- /////////////////////
//- /////////////////////
//- /////////////////////
block main
  .content-bg
    video.bgVideo(src=root+"assets/video/video26.mp4" type="video/mp4" muted autoplay playsinline loop) 
      img(src=root+"assets/video/video26.mp4" alt="")
  h1.topCatch 角度を変え、#[br.is-sp]新しい価値に出会う#[br]#[span Change the angle and meet new value.]
  figure.topLogo: img(src=root+imgPath+"logo-w2.svg" loading="lazy" alt="合同会社コロンディー" width="100")


  .topNews
    //- .topNews-head
    //- h2.topNews-ttl お知らせ
    //- .topNews-btn: a(href=root+"news/news-list.html") もっとみる

    ul.newsList
      //- li.newsList-item
        time.newsList-time 2022-1-18：
        span.newsList-ttl ウェブサイトを公開しました
      li.newsList-item
        time.newsList-time 2022-1-18：
        span.newsList-ttl 合同会社コロンディーを設立しました

  //- .topBnr
    a(href=root+"recruit.html"): img(src=root+imgPath+"bnr-recruit@2x.png" loading="lazy" alt="合同会社コロンディー" width="359" height="103")