extend ./_includes/_layout.pug
block vars
  include ./_includes/_config
  - var noindex= "false";
  - var colmun= "single";
  - var root= "./";
  - var parentDir= "";
  //- - var status= "";
  - var key= "gallery";
  - var pageUrl= "gallery.html";
  - var pageTitle = "講習の様子"
  - var pageDescription = ""
  - var pageKeywords = ""
  //- - var page = pages[key];
  //- - var pageCategory= "";
  - var bodyClass= "";
//- /////////////////////
append css
  link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css")
  link(rel="stylesheet", href=root+cssPath+"gallery.css")
  
  //- link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
//- /////////////////////
append js
  script(src="//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js")
  script.
    $(function () {
      $('.js-modal').magnificPopup({
        type: 'ajax',
        removalDelay: 200,
        preloader: true,
        modal: true,
        fixedContentPos: true,
        fixedBgPos: true
      });
      $(document).on('click', '.modal-close', function (e) {
        e.preventDefault();
        $.magnificPopup.close();
      });
    });
    $(function () {
      $('.js-lightbox').magnificPopup({
        type: 'image',
        removalDelay: 200,
        preloader: true,
        showCloseBtn: true,
        fixedContentPos: true,
        fixedBgPos: true,
      });
    });

  script(type="application/ld+json").
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "#{siteUrl}",
          "name": "#{siteName}"
        }
      },
      {
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": "#{siteUrl}#{pageUrl}",
          "name": "#{pageTitle}"
        }
      }]
    }
//- /////////////////////
block breadcrumb
  nav.breadcrumb
    ol(itemscope itemtype="http://schema.org/BreadcrumbList")
      li.top(itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem")
        a(itemprop="item" href=root+""): span(itemprop="name") #{siteName}
        meta(itemprop="position" content="1")
      li(itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem")
        a(itemprop="item" href=root+pageUrl): span(itemprop="name") #{pageTitle}
        meta(itemprop="position" content="2")
//- /////////////////////
//- /////////////////////
//- /////////////////////
//- /////////////////////
//- /////////////////////
//- /////////////////////
block main
  article.page
    .page-head
      h1.page-ttl #{pageTitle}#[br]#[span.page-subttl #{key}]
      //- p.page-intro あああ

    .page-body
      .gallery
        figure.gallery-item: img.gallery-img.js-lightbox(src=root+imgPath+"gallery/thumb/0.jpg" data-mfp-src=root+imgPath+"gallery/0.jpg" loading="lazy" alt="")
        figure.gallery-item: img.gallery-img.js-lightbox(src=root+imgPath+"gallery/thumb/1.jpg" data-mfp-src=root+imgPath+"gallery/1.jpg" loading="lazy" alt="")
        figure.gallery-item: img.gallery-img.js-lightbox(src=root+imgPath+"gallery/thumb/2.jpg" data-mfp-src=root+imgPath+"gallery/2.jpg" loading="lazy" alt="")
        figure.gallery-item: img.gallery-img.js-lightbox(src=root+imgPath+"gallery/thumb/3.jpg" data-mfp-src=root+imgPath+"gallery/3.jpg" loading="lazy" alt="")
        figure.gallery-item: img.gallery-img.js-lightbox(src=root+imgPath+"gallery/thumb/4.jpg" data-mfp-src=root+imgPath+"gallery/4.jpg" loading="lazy" alt="")
        figure.gallery-item: img.gallery-img.js-lightbox(src=root+imgPath+"gallery/thumb/5.jpg" data-mfp-src=root+imgPath+"gallery/5.jpg" loading="lazy" alt="")
        figure.gallery-item: img.gallery-img.js-lightbox(src=root+imgPath+"gallery/thumb/6.jpg" data-mfp-src=root+imgPath+"gallery/6.jpg" loading="lazy" alt="")
        figure.gallery-item: img.gallery-img.js-lightbox(src=root+imgPath+"gallery/thumb/7.jpg" data-mfp-src=root+imgPath+"gallery/7.jpg" loading="lazy" alt="")
        figure.gallery-item: img.gallery-img.js-lightbox(src=root+imgPath+"gallery/thumb/8.jpg" data-mfp-src=root+imgPath+"gallery/8.jpg" loading="lazy" alt="")
        figure.gallery-item: img.gallery-img.js-lightbox(src=root+imgPath+"gallery/thumb/9.jpg" data-mfp-src=root+imgPath+"gallery/9.jpg" loading="lazy" alt="")
        


      nav.pager
        a.pager-prev(href="#")
        ol.pager-num
          li: a.is-current(href="#") 1
          li: a(href="#") 2
          li: a(href="#") 3
          li: a(href="#") 4
          li: a(href="#") 5
        a.pager-next(href="#")
