extend ./_includes/_layout.pug
block vars
  include ./_includes/_config
  - var noindex= "false";
  - var colmun= "single";
  - var root= "./";
  - var parentDir= "";
  //- - var status= "";
  - var key= "service";
  - var pageUrl= "service.html";
  - var pageTitle = "提供事業"
  - var pageDescription = "みなさんこんにちは、合同会社コロンディーの提供事業ページです。"
  - var pageKeywords = ""
  //- - var page = pages[key];
  //- - var pageCategory= "";
  - var bodyClass= "";
//- /////////////////////
append css
  //- link(rel="stylesheet", href=root+cssPath+"page.css")
  //- link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
//- /////////////////////
append js
  //- script(type="application/ld+json").
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "#{siteUrl}",
          "name": "#{siteName}"
        }
      },
      {
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": "#{siteUrl}#{pageUrl}",
          "name": "#{pageTitle}"
        }
      }]
    }
//- /////////////////////
block breadcrumb
  //- nav.breadcrumb
    ol(itemscope itemtype="http://schema.org/BreadcrumbList")
      li.top(itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem")
        a(itemprop="item" href=root+""): span(itemprop="name") #{siteName}
        meta(itemprop="position" content="1")
      li(itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem")
        a(itemprop="item" href=root+pageUrl): span(itemprop="name") #{pageTitle}
        meta(itemprop="position" content="2")
//- /////////////////////
//- /////////////////////
//- /////////////////////
//- /////////////////////
//- /////////////////////
//- /////////////////////
block main
  .content-bg
    video.bgVideo(src=root+"assets/video/video21.mp4" type="video/mp4" muted autoplay playsinline loop) 
      img(src=root+"assets/video/video21.mp4" alt="")
  article.page
    .page-head
      h1.page-ttl #{pageTitle}
      p.page-intro 当社では大きく3つのサービスを提供しております。

    //- .comingsoon coming soon...
    .page-body
      section.section
        h2.section-title 「ハンズオン」
        p.text クライアント企業にて、社員と日々コミュニケーションを取りながらクライアントの事業をサポートするサービス
      section.section
        h2.section-title 「コンサルティング」
        p.text 既存事業のデジタルトランスフォーメーションや新規事業立ち上げなどのコンサルティングサービス
      section.section
        h2.section-title 「業務請負」
        p.text 取材型の広告記事掲載、LPの企画・編集、様々な動画メディアにフィットする動画制作などを請け負うサービス