//-========================
//- サイト共通設定
//-========================
include _includes/_config
//- block vars
//-========================
//- ページ設定
//-========================
- var root = './'//ルートパスの指定
- var key = 'article'//条件分岐に使用
- var index = 'true'//ページインデックスの有無
- var ogp = 'true'//OGPの有無
- var analytics = 'true'//GAタグの有無
//-========================
//- ページメタ情報
//- ここに入力した内容で上書きされます
//- 記入無しでサイト共通内容が反映されます
//-========================
- var pageTitle = 'ブログ'//meta title内容
- var pageDescription = '_サイト名_のブログ一覧ページです。'//meta description内容
- var pageKeywords = ''//meta keyword内容
- var pageOgUrl = ''//OG用 URL
- var pageOgTitle = 'ブログ｜_サイト名_'//OG用 title
- var pageOgDescription = '_サイト名_のブログ一覧ページです。'//OG用 description
- var pageOgImage = ''//OGImage
//-========================
//- パンくず/構造化データ生成
//-========================
- var pageSlug= "article"//ページのスラッグ※末尾に「/」必須
- var parentSlug= ""//ページが3階層目の場合、親ページのスラッグ※末尾に「/」必須
- var parentTitle= ""//ページが3階層目の場合、親ページの名前
//-========================
//- ライブラリ読み込み
//-========================
- var fontawesome = 'false'// fontawesome読み込み
- var slick = 'false'// slick読み込み ※block append js以下に発火用記述必須
- var swiper = 'false'// swiper読み込み ※block append js以下に発火用記述必須
- var magnificpopup = 'false'// magnificpopup読み込み ※block append js以下に発火用記述必須
- var accordion = 'false'
//-
//-
//-
//-========================
//- PAGE SOURCE
//-========================
doctype html
html(lang='ja')
  include _includes/_head
  //---------------------------------
  //- UNIQUE CSS
  //- ページ独自に使用するスタイル
  //---------------------------------
  block append css
    //- link(rel='stylesheet' type='text/css' href='../assets/css/###.css?ver=1.0.0')
    //- style(type='text/css').
      .class{}
  include _includes/_analytics
  body
    include _includes/_analytics_body
    .l-wrapper
      include _includes/_header
      include _includes/_module/_breadcrumb
      main.l-main
        //-========================
        //-========================
        //- PAGE CONTENTS START
        //-========================
        // PageContents
        article.c-archive.p-article
          .c-archive__head
            .l-container
              h1.c-archive__title ブログ記事
              .c-archive__subtitle article
              .c-archive__intro あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。

          // section START
          section.l-section.p-article
            .l-container
              .c-media
                .c-media__item
                  a.c-media__link(href=root+'article_xxx'+extention)
                    figure.c-media__thumb
                      img(src=root+imgPath+"common/dummy-xs.png" loading="lazy"  width="160" height="120" alt="")
                    .c-media__body
                      time.c-media__date(datetime='2022-1-1') 2022.1.1
                      .c-media__title あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
                      
                      .c-tag(href=root+"article".extention) デフォルトタグ
                      .c-tag-red(href=root+"article".extention) 赤タグ

                .c-media__item
                  a.c-media__link(href=root+'article_xxx'+extention)
                    figure.c-media__thumb
                      img(src=root+imgPath+"common/dummy-xs.png" loading="lazy"  width="160" height="120" alt="")
                    .c-media__body
                      time.c-media__date(datetime='2022-1-1') 2022.1.1
                      .c-media__title あのイーハトーヴォのすき
                      .c-tag(href=root+"article".extention) デフォルトタグ

                .c-media__item
                  a.c-media__link(href=root+'article_xxx'+extention)
                    figure.c-media__thumb
                      img(src=root+imgPath+"common/dummy-xs.png" loading="lazy"  width="160" height="120" alt="")
                    .c-media__body
                      time.c-media__date(datetime='2022-1-1') 2022.1.1
                      .c-media__title あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。
                .c-media__item
                  a.c-media__link(href=root+'article_xxx'+extention)
                    figure.c-media__thumb
                      img(src=root+imgPath+"common/dummy-xs.png" loading="lazy"  width="160" height="120" alt="")
                    .c-media__body
                      time.c-media__date(datetime='2022-1-1') 2022.1.1
                      .c-media__title この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
                .c-media__item
                  a.c-media__link(href=root+'article_xxx'+extention)
                    figure.c-media__thumb
                      img(src=root+imgPath+"common/dummy-xs.png" loading="lazy"  width="160" height="120" alt="")
                    .c-media__body
                      time.c-media__date(datetime='2022-1-1') 2022.1.1
                      .c-media__title この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
          // section END

          include _includes/_module/_pager
        // /pageContents
        //-========================
        //- PAGE CONTENTS END
        //-========================
        //-========================
      //- include _includes/_sidebar
      include _includes/_footer
      //- include _includes/_module/_floatbox
    include _includes/_script
    //---------------------------------
    //- UNIQUE SCRIPT
    //- ページ独自に使用するJS
    //---------------------------------
    block append js
      //- script(src="../assets/js/xxx.js?ver=1.0.0")
      //- script(type='text/javascript').
        $(function () {
          %scripts%
        });
    include _includes/_schema