//-========================
//- サイト共通設定
//-========================
include _includes/_config
//- block vars
//-========================
//- ページ設定
//-========================
- var root = './'//ルートパスの指定
- var key = 'contact'//条件分岐に使用
- var index = 'false'//ページインデックスの有無
- var ogp = 'true'//OGPの有無
- var analytics = 'true'//GAタグの有無
//-========================
//- ページメタ情報
//- ここに入力した内容で上書きされます
//- 記入無しでサイト共通内容が反映されます
//-========================
- var pageTitle = 'お問い合わせ確認'//meta title内容
- var pageDescription = ''//meta description内容
- var pageKeywords = ''//meta keyword内容
- var pageOgUrl = ''//OG用 URL
- var pageOgTitle = 'お問い合わせ確認｜_サイト名_'//OG用 title
- var pageOgDescription = ''//OG用 description
- var pageOgImage = ''//OGImage
//-========================
//- パンくず/構造化データ生成
//-========================
- var pageSlug= "contact"//ページのスラッグ※末尾に「/」必須
- var parentSlug= ""//ページが3階層目の場合、親ページのスラッグ※末尾に「/」必須
- var parentTitle= ""//ページが3階層目の場合、親ページの名前
//-========================
//- ライブラリ読み込み
//-========================
- var fontawesome = 'false'// fontawesome読み込み
- var slick = 'false'// slick読み込み ※block append js以下に発火用記述必須
- var swiper = 'false'// swiper読み込み ※block append js以下に発火用記述必須
- var magnificpopup = 'false'// magnificpopup読み込み ※block append js以下に発火用記述必須
- var accordion = 'false'
//-
//-
//-
//-========================
//- PAGE SOURCE
//-========================
doctype html
html(lang='ja')
  include _includes/_head
  //---------------------------------
  //- UNIQUE CSS
  //- ページ独自に使用するスタイル
  //---------------------------------
  block append css
    //- link(rel='stylesheet' type='text/css' href='../assets/css/###.css?ver=1.0.0')
    //- style(type='text/css').
      .class{}
  include _includes/_tag_head
  body
    include _includes/_tag_body
    .l-wrapper
      include _includes/_header
      include _includes/_breadcrumb
      main.l-main
        //-========================
        //-========================
        //- PAGE CONTENTS START
        //- 編集はここから
        //-========================
        // PageContents
        article.p-page.p-contact
          .p-page__head 
            .l-container
              h1.p-page__title お問い合わせ
              .p-page__subtitle contact
              .p-page__intro _サイト名_のお問い合わせのページです。ご利用に関する内容の他、取材に関するお問い合わせも受け付けております。


          
          // section START
          section.l-section.p-contact-form
            .l-container
              .p-step 
                ul.p-step__list 
                  li.p-step__item.is-current #[span.p-step__order step1] 情報のご入力
                  li.p-step__item #[span.p-step__order step2] 内容のご確認
                  li.p-step__item #[span.p-step__order step3] 送信完了
              
              //- h2.c-h2 お問い合わせフォーム
              //- .c-text お問い合わせの内容につきまして、担当者より後日ご連絡させていただきます。#[br]下記にあるお問い合わせに関するご注意事項をご確認の上、下記フォームよりお問い合わせください。

              form(method="post" action=root+"confirm"+extention enctype='multipart/form-data')
                //- h3.c-h3 お客様情報
                .p-form
                  .p-form__item
                    .p-form__label お名前#[span.p-form__require 必須]
                    .p-form__body
                      input.c-input(type="text" id="name" name="name" placeholder="例：山田 花子" autocomplete="name" required)
                      .p-form__error お名前を入力してください

                  .p-form__item
                    .p-form__label ふりがな#[span.p-form__require 必須]
                    .p-form__body
                      input.c-input(type="text" id="name_kana" name="name_kana" placeholder="例：やまだ はなこ" required)
                      .p-form__note ※全角ひらがな
                      .p-form__error ふりがなを入力してください

                  .p-form__item
                    .p-form__label メールアドレス#[span.p-form__require 必須]
                    .p-form__body
                      input.c-input(type="email" id="email" name="email" placeholder="例：example@mail.com" autocomplete="email" required)
                      .p-form__note ※半角英数
                      .p-form__error メールアドレスを入力してください

                  .p-form__item
                    .p-form__label 電話番号#[span.p-form__require 必須]
                    .p-form__body
                      input.c-input.is-inline(type="tel" id="tel" name="tel" placeholder="例：03-1234-5678" autocomplete="tel"  maxlength="13" required)
                      .p-form__note ※半角数字
                      .p-form__error 電話番号を入力してください
                  
                  .p-form__item
                    .p-form__label 性別#[span.p-form__require 必須]
                    .p-form__body
                      label.c-radio
                        input(type="radio" name="gender" id="" value="男性" required)
                        span 男性
                      label.c-radio
                        input(type="radio" name="gender" id="" value="女性")
                        span 女性
                      .p-form__error 性別を選択してください
                  
                  .p-form__item
                    .p-form__label 生年月日#[span.p-form__require 必須]
                    .p-form__body
                      select.c-select.is-inline(name="bd-year" autocomplete="bd-year" required)
                        option(value="") ----
                        - for( var n=1960; n<= 2022; n++)
                          option(value=n + "") #{n}
                      span 年
                      select.c-select.is-inline(name="bday-month" autocomplete="bday-month" required)
                        option(value="") --
                        - for( var n=1; n<= 12; n++)
                          option(value=n + "") #{n}
                      span 月
                      select.c-select.is-inline(name="bday-day" autocomplete="bday-day" required)
                        option(value="") --
                        - for( var n=1; n<= 31; n++)
                          option(value=n + "") #{n}
                      span 日
                      .p-form__error 生年月日を選択してください



                  //- 住所自動入力対応
                  .h-adr
                    //- 自動入力用で必須
                    input.p-country-name(type="hidden" value="Japan")
                    .p-form__item
                      .p-form__label 郵便番号#[span.p-form__require 必須]
                      .p-form__body
                        span 〒
                        input.c-input.p-postal-code.is-inline(type="text" id="postal-code" name="postal-code" placeholder="例：123-4567" autocomplete="postal-code" size="8" maxlength="8" required)
                        .p-form__note ※半角数字
                        .p-form__error 郵便番号を入力してください

                    
                    .p-form__item
                      .p-form__label 都道府県#[span.p-form__require 必須]
                      .p-form__body
                        select.c-select.p-region-id.is-inline(id="address-level1" name="address-level1" autocomplete="address-level1" required)
                          option(value="") 選択してください
                          optgroup(label='北海道・東北地方')
                            option(value='1') 北海道
                            option(value='2') 青森県
                            option(value='3') 岩手県
                            option(value='4') 宮城県
                            option(value='5') 秋田県
                            option(value='6') 山形県
                            option(value='7') 福島県
                          optgroup(label='関東地方')
                            option(value='8') 茨城県
                            option(value='9') 栃木県
                            option(value='10') 群馬県
                            option(value='11') 埼玉県
                            option(value='12') 千葉県
                            option(value='13') 東京都
                            option(value='14') 神奈川県
                          optgroup(label='中部地方')
                            option(value='15') 新潟県
                            option(value='16') 富山県
                            option(value='17') 石川県
                            option(value='18') 福井県
                            option(value='19') 山梨県
                            option(value='20') 長野県
                            option(value='21') 岐阜県
                            option(value='22') 静岡県
                            option(value='23') 愛知県
                          optgroup(label='近畿地方')
                            option(value='24') 三重県
                            option(value='25') 滋賀県
                            option(value='26') 京都府
                            option(value='27') 大阪府
                            option(value='28') 兵庫県
                            option(value='29') 奈良県
                            option(value='30') 和歌山県
                          optgroup(label='中国地方')
                            option(value='31') 鳥取県
                            option(value='32') 島根県
                            option(value='33') 岡山県
                            option(value='34') 広島県
                            option(value='35') 山口県
                          optgroup(label='四国地方')
                            option(value='36') 徳島県
                            option(value='37') 香川県
                            option(value='38') 愛媛県
                            option(value='39') 高知県
                          optgroup(label='九州・沖縄地方')
                            option(value='40') 福岡県
                            option(value='41') 佐賀県
                            option(value='42') 長崎県
                            option(value='43') 熊本県
                            option(value='44') 大分県
                            option(value='45') 宮崎県
                            option(value='46') 鹿児島県
                            option(value='47') 沖縄県
                        .p-form__error 都道府県を選択してください

                    .p-form__item
                      .p-form__label 市区町村#[span.p-form__require 必須]
                      .p-form__body
                        input.c-input.p-locality(type="text" id="address-level2" name="address-level2" placeholder="" autocomplete="address-level2" required)
                        .p-form__error 市区町村を入力してください
                    .p-form__item
                      .p-form__label 市区町村以降#[span.p-form__require 必須]
                      .p-form__body
                        input.c-input.p-street-address.p-extended-address(type="text" id="address-level3" name="address-level3" placeholder="" autocomplete="address-level3" required)
                        .p-form__error 市区町村以降を入力してください
                    .p-form__item
                      .p-form__label 建物名など
                      .p-form__body
                        input.c-input(type="text" id="address-level4" name="address-level4" placeholder="" autocomplete="address-level4")


                  .p-form__item
                    .p-form__label お問い合わせ種別#[span.p-form__require 必須]
                    .p-form__body
                      select.c-select(id="" name="" required)
                          option(value="") 選択してください
                          - var list = ["ご意見・ご要望", "ご予約について", "取材について"]
                            each item in list
                              option(value="item") #{item}
                      .p-form__error お問い合わせ種別を入力してください
                  
                  .p-form__item
                    .p-form__label ご連絡可能時間#[span.p-form__require 必須]
                    .p-form__body
                      label.c-checkbox
                        input(type="checkbox" name="period" id="" value="午前中" required)
                        span 午前中（10時〜12時）
                      label.c-checkbox
                        input(type="checkbox" name="period" id="" value="午後")
                        span 午後（13時〜15時）
                      label.c-checkbox
                        input(type="checkbox" name="period" id="" value="夕方")
                        span 夕方（16時時〜18時）
                      label.c-checkbox
                        input(type="checkbox" name="period" id="" value="夜")
                        span 夜（19時〜21時）
                      .p-form__note ※複数選択可
                      .p-form__error ご連絡可能時間を選択してください

                  .p-form__item
                    .p-form__label お問い合わせ内容#[span.p-form__require 必須]
                    .p-form__body
                      textarea.c-textarea.js-autoresize(id ="comment" name='comment'  placeholder='お問い合わせ内容を具体的にお知らせください。')
                      .p-form__error お問い合わせ内容を入力してください

                  .p-form-agree
                    .p-form-agree__title 同意事項
                    .p-form-agree__text 当フォームのご利用には、下記事項のご確認とご同意が必要です。
                    .p-form-agree__body
                      ul.c-list-disc.u-text-left
                        li ご連絡までお時間がかかることがございます。
                        li プライバシーポリシーに同意してください。
                    label.c-checkbox
                      input.js-agree(type="checkbox" name="" id="agree" value="" required)
                      span 上記に同意します
                  

                  .p-form__submit
                    button.c-button-submit.js-agree-target(type="submit" id="submit") 入力内容を確認する

              .p-panel-contact
                p.p-panel-contact__text
                  | お電話でのお問い合わせは
                  br.u-sp-display
                  | 下記番号からお願い致します
                address.p-panel-contact__phone
                  a(href='tel:03-1234-5678') 03-1234-5678
                p.c-note ※受付時間 平日 9:00〜21:00
          // section END
        // /pageContents

        //-========================
        //- PAGE CONTENTS END
        //- 編集はここまで
        //-========================
        //-========================
      //- include _includes/_sidebar
      include _includes/_footer
      //- include _includes/_module/_floatbox
    include _includes/_script
    //---------------------------------
    //- UNIQUE SCRIPT
    //- ページ独自に使用するJS
    //---------------------------------
    block append js
      script(src="https://yubinbango.github.io/yubinbango/yubinbango.js")
      //- script(src=root+libPath+"yubinbango.js")
      script(src=root+libPath+"jquery.autoKana.js")
      //- script(src=root+jsPath+"form.min.js?ver=1.0.0")
      script(type='text/javascript').
        $(function() {
          $.fn.autoKana("#name", "#name_kana", {
            hiragana: true
          });
        });
    include _includes/_schema