//-========================
//- サイト共通設定
//-========================
include _includes/_config
//- block vars
//-========================
//- ページ設定
//-========================
- var root = './'//ルートパスの指定
- var key = 'home'//条件分岐に使用
- var index = 'true'//ページインデックスの有無
- var ogp = 'true'//OGPの有無
- var analytics = 'true'//GAタグの有無
//-========================
//- ページメタ情報
//- ここに入力した内容で上書きされます
//- 記入無しでサイト共通内容が反映されます
//-========================
- var pageTitle = ''//meta title内容
- var pageDescription = ''//meta description内容
- var pageKeywords = ''//meta keyword内容
- var pageOgUrl = ''//OG用 URL
- var pageOgTitle = ''//OG用 title
- var pageOgDescription = ''//OG用 description
- var pageOgImage = ''//OGImage
//-========================
//- パンくず/構造化データ生成
//-========================
- var pageSlug= ""//ページのスラッグ※末尾に「/」必須
- var parentSlug= ""//ページが3階層目の場合、親ページのスラッグ※末尾に「/」必須
- var parentTitle= ""//ページが3階層目の場合、親ページの名前
//-========================
//- ライブラリ読み込み
//-========================
- var fontawesome = 'false'// fontawesome読み込み
- var slick = 'true'// slick読み込み ※block append js以下に発火用記述必須
- var swiper = 'false'// swiper読み込み ※block append js以下に発火用記述必須
- var magnificpopup = 'false'// magnificpopup読み込み ※block append js以下に発火用記述必須
- var accordion = 'true'
//-
//-
//-
//-========================
//- PAGE SOURCE
//-========================
doctype html
html(lang='ja')
  include _includes/_head
  //---------------------------------
  //- UNIQUE CSS
  //- ページ独自に使用するスタイル
  //---------------------------------
  block append css
    //- link(rel='stylesheet' type='text/css' href='../assets/css/###.css?ver=1.0.0')
    //- style(type='text/css').
      .class{}
  include _includes/_tag_head
  body
    include _includes/_tag_body
    .l-wrapper
      include _includes/_header
      include _includes/_breadcrumb
      main.l-main
        //-========================
        //-========================
        //- PAGE CONTENTS START
        //-========================
        // PageContents
        article.p-home
          // hero START
          section#hero.l-section.p-home-hero
            .p-home-hero__inner
              h1.p-home-hero__mainCopy メインキャッチコピー
              .p-home-hero__text ヒーローセクションの文言が入ります。
              //- picture.p-home-hero__mainVidual
                source(srcset=root+imgPath+"top/mainvidual-pc.png" media="(min-width: 640px)" width="1200" height="900" )
                img(loading="lazy" src=root+imgPath+"top/mainvidual-sp.png" width="420" height="315" alt="メインビジュアル")
              .c-button-wrapper
                a.c-button-primary(href=root+"#"+extention) プライマリ ボタン
                a.c-button-primary(href="#a001") アンカーリンク
          // hero END


          // section a START
          section.l-section.p-home-a#a001
            .l-container
              h2.p-home__title セクションA
              .p-home__subtitle section a
              .p-home__body
                picture.p-home__image
                  source(srcset=root+imgPath+"common/dummy-l.png" media="(min-width: 640px)" width="800" height="600" )
                  img(loading="lazy" src=root+imgPath+"common/dummy-s.png" width="420" height="315" alt="メインビジュアル")
              
                .c-text あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。

                button.js-dropdown.m-dropdown(type="button") ドロップダウンスイッチ
                .js-dropdown-target.m-dropdown__target
                  p ドロップダウンコンテンツ１#[br]ドロップダウンを発火させるボタンには.js-dropdownを付与#[br]表示させるコンテンツは.js-dropdown-targetに記載してください。#[br]ボタンスタイルにしたいなどの場合は、他のコンポーネント/プロジェクトスタイルと組み合わせてください。
                .c-block-button
                  a.c-button-secondary(href=root+"#"+extention) セカンダリ ボタン
          // section a END


          // section b START
          section.l-section.p-home-b
            .l-container
              h2.p-home__title セクションB
              .p-home__subtitle section b
              .p-home__body
                .c-text あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。 またそのなかでいっしょになったたくさんのひとたち、ファゼーロとロザーロ、羊飼のミーロや、顔の赤いこどもたち、地主のテーモ、山猫博士のボーガント・デス
                .c-block-button
                  a.c-button-tertiary(href=root+"#"+extention) ターシャリ ボタン
          // section b END


          // section c START
          section.l-section.p-home-c
            .l-container
              .p-panel-contact
                p.p-panel-contact__text
                  | お電話でのお問い合わせは
                  br.u-sp-display
                  | 下記番号からお願い致します
                address.p-panel-contact__phone
                  a(href='tel:03-1234-5678') 03-1234-5678
                p.c-note ※受付時間 平日 9:00〜21:00
          // section c END



        // /pageContents
        //-========================
        //- PAGE CONTENTS END
        //-========================
        //-========================
      //- include _includes/_sidebar
      include _includes/_footer
      //- include _includes/_module/_floatbox
    include _includes/_script
    //---------------------------------
    //- UNIQUE SCRIPT
    //- ページ独自に使用するJS
    //---------------------------------
    block append js
      //- script(src="../assets/js/xxx.js?ver=1.0.0")
      //- script(type='text/javascript').
        $(function () {
          %scripts%
        });
    include _includes/_schema