//- home以外のときに設置
unless key==='home'
  // Breadcrumb
  nav.c-breadcrumb
    ol.c-breadcrumb__list
      li.c-breadcrumb__item
        a(href=siteUrl) ホーム
      unless parentSlug
        li.c-breadcrumb__item
          a(href=siteUrl+pageSlug) #{pageTitle}
      else
        li.c-breadcrumb__item
          a(href=siteUrl+parentSlug) #{parentTitle}
        li.c-breadcrumb__item
          a(href=siteUrl+pageSlug) #{pageTitle}
  // /Breadcrumb
