extend ../_includes/_layout.pug
block vars
  include ../_includes/_config
  - var noindex= "true";
  - var colmun= "single";
  - var root= "../";
  - var parentDir= "news/news-list.html";
  - var parentTitle= "お知らせ";
  //- - var status= "";
  - var key= "news";
  - var pageUrl= "news-detail.html";
  - var pageTitle = "お知らせタイトルお知らせタイトルお知らせタイトル"
  - var pageDescription = ""
  - var pageKeywords = ""
  //- - var page = pages[key];
  //- - var pageCategory= "";
  - var bodyClass= "";
//- /////////////////////
append css
  link(rel="stylesheet", href=root+cssPath+"article.css")
append js
  script(type="application/ld+json").
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "#{siteUrl}",
          "name": "#{siteName}"
        }
      },
      {
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": "#{siteUrl}#{parentDir}",
          "name": "#{parentTitle}"
        }
      },
      {
        "@type": "ListItem",
        "position": 3,
        "item": {
          "@id": "#{siteUrl}#{pageUrl}",
          "name": "#{pageTitle}"
        }
      }]
    }
//- /////////////////////
block breadcrumb
  nav.breadcrumb
    ol(itemscope itemtype="http://schema.org/BreadcrumbList")
      li.top(itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem")
        a(itemprop="item" href=root+""): span(itemprop="name") トップページ
        meta(itemprop="position" content="1")
      li(itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem")
        a(itemprop="item" href=root+parentDir): span(itemprop="name") #{parentTitle}
        meta(itemprop="position" content="2")
      li(itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem")
        a(itemprop="item" href=root+parentDir+pageUrl): span(itemprop="name") #{pageTitle}
        meta(itemprop="position" content="3")
//- /////////////////////
//- /////////////////////
//- /////////////////////
block main
  article.article
    .article-head
      h1.article-ttl #{pageTitle}
      time.article-time( datetime="2020-03-03") 2020-03-03

    .article-body

      h2 大見出しスタイル（h2）
      p これは、本文テキストです。#[small これは、細目テキストです。]これは、本文テキストです。#[strong これは強調テキスト（赤字）です]
      img(src="http://placehold.it/960x340/eeeeee/ffffff" loading="lazy" alt="")
      p #[a(href="#") これはテキストリンクです]これは、本文テキストです。これは、本文テキストです。これは、本文テキストです。このページはアートメイクの#[b これは強調テキスト（太字）です]
      blockquote
        p これは引用テキストです#[mark これは強調テキスト（マーカー）です]これは引用テキストですこれは引用テキストです
        p 引用元：#[a(href="#") 引用元サイトタイトルをここに記載しましょう]
      h3 中見出しスタイル（h3）
      ul
        li これはリストタグです。これはリストタグです。
        li これはリストタグです。これはリストタグです。
        li これはリストタグです。これはリストタグです。
        li これはリストタグです。これはリストタグです。

      h4 小見出しスタイル（h4）
      ol
        li これは順序付きリストタグです。
        li これは順序付きリストタグです。
        li これは順序付きリストタグです。
        li これは順序付きリストタグです。

      table
        tr
          th(width="41%") テーブル見出し
          td(width="59%") テーブル詳細
        tr
          th テーブル見出し
          td テーブル詳細
        tr
          th テーブル見出し
          td テーブル詳細
        tr
          th テーブル見出し
          td テーブル詳細